BACK_URL=http://localhost:4000
FRONTEND_URL=http://localhost:5173
PORT=4000
MONGO_URI=mongodb+srv://MiscoIons:vIb1UMGsFoyng3BE@proyecto-daw.vrszxdx.mongodb.net/proyecto-daw?retryWrites=true&w=majority&appName=proyecto-daw
JWT_SECRET=N7vRz!9mQx#Tp4YsLd8FgZwEjUkVoCbE